
<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card" style="width: 30rem;">
                        <img src="https://www.nestdigital.com/images/inspiration.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">WHO WE ARE & WHAT WE DO</h5>
                            <h6 class="card-title">Engineering Transformation</h6>
                          <p class="card-text">NeST Digital is the software arm of the globally trusted NeST Group of companies. We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">   
                    <div class="card" style="width: 30rem;">
                        <img src="https://www.nestdigital.com/images/value.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">WHAT WE BELIEVE</h5>
                            <h6 class="card-title">Our core values make us who we are today</h6>
                          <p class="card-text">Our purpose and principles have shaped us into who we are today and they enable us to strive for greater heights. Every decision we make is closely aligned with our principles. These help us raise our bar, dive deep into challenges to achieve game-changing outcomes.</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>