<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <h3 class="text-center">REGISTRATION</h3>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">EMPLOYEE ID</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">FIRST NAME</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">LAST NAME</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">HOUSE NO.</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">HOUSE NAME</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">STREET NAME</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">PIN CODE</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">DISTRICT</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">STATE</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">COUNTRY</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">MOBILE</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">EMAIL</label>
                    <input type="email" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">PARENT NAME</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">GENDER</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">HIGHEST DEGREE</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">YEAR OF EXPERIENCE</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">DATE OF JOINING</label>
                    <input type="date" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">USERNAME</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">PASSWORD</label>
                    <input type="password" class="form-control">
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">CONFIRM PASSWORD</label>
                    <input type="password" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"></label>
                    <button class="btn btn-primary">REGISTER</button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"></label>
                    <a href="#" class="btn btn-primary">BACK TO LOGIN</a>
                </div>
            </div>
        </div>
    </div>
</div>
