
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">NAME</label>
                        <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">PHONE</label>
                        <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">EMAIL</label>
                        <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label"></label>
                        <button class="btn btn-primary">SUBMIT</button>
                </div>
            </div>
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <p class="card-text">NeST Towers, University junction,
                            Kalamassery, Kochi, Kerala,
                            India – 682 033
                            Ph: +91-484-6701000</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">   
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <p class="card-text">NeST Tech Park, NeST Valley,
                            Near Infopark, Infopark P.O,
                            Kakkanad, Kochi, Kerala,
                            India – 682042
                            Ph:+91484-4203333</p>
                        </div>
                    </div>
                </div> 
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">   
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <p class="card-text">A-3, Periyar, Technopark Campus,
                            Karyavattom, Trivandrum,
                            Kerala, India -695 581
                            Phone:- 0471-2527441
                            Fax :- 0471-2700442</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>